In [4]:
'I like {1} and {0}'.format('Python', 'Java')

'I like Java and Python'

In [7]:
for i in range(2, 15, 2):
    print('{0:3} {1:4} {2:5}'.format(i, i*i, i*i*i))

  2    4     8
  4   16    64
  6   36   216
  8   64   512
 10  100  1000
 12  144  1728
 14  196  2744

In [10]:
print('소수점 두 자리로 표현한 원주율 = {0:10.2f}'.format(3.1415926))
print('소수점 세 자리로 표현한 원주율 = {0:10.3f}'.format(3.1415926))
print('소수점 네 자리로 표현한 원주율 = {0:10.4f}'.format(3.1415926))

소수점 두 자리로 표현한 원주율 =       3.14
소수점 세 자리로 표현한 원주율 =      3.142
소수점 네 자리로 표현한 원주율 =     3.1416

In [11]:
print('1/3은 {:3f}'.format(1/3))

1/3은 0.333333

In [12]:
print('{:,}'.format(1234567890))

1,234,567,890

In [13]:
print('위도: {0}, 경도: {1}'.format('35.17N', '129.07E'))

위도: 35.17N, 경도: 129.07E

In [18]:
name = 'my name is jiwon'

In [19]:
name

'my name is jiwon'

In [23]:
'my name is jiwon'.capitalize()

'My name is jiwon'

In [26]:
'_'.join('ABCD')

'A_B_C_D'

In [28]:
s = 'My favorite thing is monsters'
s.replace('monsters', 'cartoons')

'My favorite thing is cartoons'

In [30]:
a_str = 'Hello Python!'
id(a_str)

2116005922224

In [31]:
n = 300
id(n)

2116005889168