# Lecture #7 Dictionary, Tuple, Set
## LAB 6-1 딕셔너리의 생성
### 1) 딕셔너리 생성하고 항목에 대한 조회 결과를 적어라

In [6]:
capital_dic = {'Korea':'Seoul', 'China':'Beijing', 'USA':'Washington DC'}
capital_dic['Korea']

'Seoul'

In [8]:
capital_dic['China']

'Beijing'

In [9]:
capital_dic['USA']

'Washington DC'

### 2) 딕셔너리 생성, 과일의 가격 출력

In [12]:
fruit_dic = {'apple':5000, 'banana':4000, 'grape':5300, 'melon':6500}
print('apple의 가격은 {}원입니다.'.format(fruit_dic['apple']))
print('banana의 가격은 {}원입니다.'.format(fruit_dic['banana']))
print('grape의 가격은 {}원입니다.'.format(fruit_dic['grape']))
print('melon의 가격은 {}원입니다.'.format(fruit_dic['melon']))

apple의 가격은 5000원입니다.
banana의 가격은 4000원입니다.
grape의 가격은 5300원입니다.
melon의 가격은 6500원입니다.

## LAB 6-2 딕셔너리의 항목 추가와 삭제
### 1) 딕셔너리에 새로운 항목 추가

In [15]:
person = {'이름':'홍길동', '나이':26, '몸무게':82}
person['특기'] = '분신술'
person

{'이름': '홍길동', '나이': 26, '몸무게': 82, '특기': '분신술'}

### 2) 딕셔너리에 새로운 항목 추가

In [16]:
person['아버지'] = '홍판서'
person

{'이름': '홍길동', '나이': 26, '몸무게': 82, '특기': '분신술', '아버지': '홍판서'}

### 3) '나이'를 키로 가지는 항목을 삭제

In [17]:
del person['나이']
person

{'이름': '홍길동', '몸무게': 82, '특기': '분신술', '아버지': '홍판서'}

## LAB 6-3 딕셔너리와 연산
### 1) 딕셔너리 생성 후 연산

In [19]:
capital_dic

{'Korea': 'Seoul', 'China': 'Beijing', 'USA': 'Washington DC'}

In [23]:
'Korea' in capital_dic

True

In [24]:
'China' in capital_dic

True

In [25]:
'Indonesia' in capital_dic

False

In [27]:
'Beijing' in capital_dic # value값은 해당되지 X

False

## LAB 6-4 딕셔너리의 활용
### 1) 딕셔너리 생성

In [28]:
fruit_dic = {'apple':6000, 'melon':3000, 'banana':5000, 'orange':7000}

### 2) keys() 메소드

In [30]:
fruit_dic.keys()

dict_keys(['apple', 'melon', 'banana', 'orange'])

### 3) values() 메소드

In [31]:
fruit_dic.values()

dict_values([6000, 3000, 5000, 7000])

### 4) pop() 메소드

In [32]:
fruit_dic.pop('apple') # key 값을 인자로 가짐

6000

In [33]:
fruit_dic

{'melon': 3000, 'banana': 5000, 'orange': 7000}

### 5) clear() 메소드

In [34]:
fruit_dic.clear()
print(fruit_dic)

{}

## LAB 6-5 딕셔너리의 활용
### 1) 키를 리스트로 출력

In [36]:
fruits_dic = {'apple':6000, 'melon':3000, 'banana':5000, 'orange':4000}
list(fruits_dic.keys())

['apple', 'melon', 'banana', 'orange']

### 2) 모든 값을 리스트로 출력

In [37]:
list(fruits_dic.values())

[6000, 3000, 5000, 4000]

### 3) 딕셔너리 항목의 개수

In [38]:
length = len(fruits_dic)
print('fruits_dic 딕셔너리의 항목의 개수 :', length)

fruits_dic 딕셔너리의 항목의 개수 : 4

### 4) 키 있는지 검사

In [41]:
if 'apple' in fruits_dic.keys():
    print('apple is in fruits_dic')
else:
    print('apple is not in fruits_dic')

if 'mango' in fruits_dic:
    print('mango is in fruitsdic')
else:
    print('mango is not in fruits_dic')

apple is in fruits_dic
mango is not in fruits_dic

## LAB 6-6 튜플의 생성과 패킹, 언패킹
### 1) 튜플을 생성하고 언패킹하여 변수에 할당

In [43]:
the_day = (1919, 3, 1)
year, month, day = the_day
print('{}년 {}월 {}일은 삼일절입니다.'.format(year, month, day))

1919년 3월 1일은 삼일절입니다.

### 2) 리스트를 튜플로 변환, 언패킹

In [48]:
lst = [10, 20, 30]
tup = tuple(lst)
a, b, c = tup
print('a = {}'.format(a))
print('b = {}'.format(b))
print('c = {}'.format(c))

a = 10
b = 20
c = 30

## LAB 6-7 튜플의 활용
### 1) 튜플 객체 생성

In [49]:
person = ('홍길동', 2019001, 179)
person

('홍길동', 2019001, 179)

### 2) 튜플 내 항목 변경

In [50]:
person[1] = 2019003

TypeError: 'tuple' object does not support item assignment

### 3) 리스트로 변환 후 항목 변경, 다시 튜플로

In [52]:
person_lst = list(person)
person_lst[1] = 2020003
person_tup = tuple(person_lst)
print('학번 변동 후 person =', person_tup)

학번 변동 후 person = ('홍길동', 2020003, 179)

## LAB 6-8 튜플의 반환
### 1) 튜플을 반환하는 함수 구현

In [61]:
def square(x, y):
    x_sq = int(x) * int(x)
    y_sq = int(y) * int(x)
    
    return x_sq, y_sq

In [62]:
x = input('x값을 입력하시오:')
y = input('y값을 입력하시오:')

x_sq, y_sq = square(x, y)
print('{} 제곱 = {}, {} 제곱 = {}'.format(x, x_sq, y, y_sq))

x값을 입력하시오: 10
y값을 입력하시오: 20

10 제곱 = 100, 20 제곱 = 200

### 2) 튜플의 덧셈

In [63]:
tup1 = (10, 20, 30)
tup2 = (40, 50, 60)

tup1 + tup2

(10, 20, 30, 40, 50, 60)

### 3) 튜플과 문자열의 반복

In [64]:
print('Hello' * 3)
print(('Hello', ) * 3)

HelloHelloHello
('Hello', 'Hello', 'Hello')

## LAB 6-9 집합의 생성
### 1) 리스트를 집합으로

In [65]:
lst = ['apple', 'mango', 'banana']
s1 = set(lst)
print('s1 =', s1)

s1 = {'mango', 'banana', 'apple'}

### 2) 문자열을 집합으로

In [67]:
greet = 'Good afternoon'
s1 = set(greet)
print('s1 =', s1) # 순서는 중요하지 X

s1 = {'e', 'n', 'd', 't', 'o', 'a', ' ', 'G', 'r', 'f'}

## LAB 6-10 집합의 연산
### 1) 두 집합의 연산

In [71]:
s1 = {10, 20, 30, 40}
s2 = {30, 40, 50, 60, 70}
#1) 합집합 (중복 제거)
s1 | s2

{10, 20, 30, 40, 50, 60, 70}

In [72]:
#2) 교집합
s1 & s2

{30, 40}

In [73]:
#3) 차집합
s1 - s2

{10, 20}

In [74]:
#4) 대칭 차집합
s1 ^ s2

{10, 20, 50, 60, 70}

In [75]:
#5) 부분집합인지
s1.issubset(s2)

False

In [76]:
#6) 상위집합인지
s1.issuperset(s2)

False

In [77]:
#7) 서로소인지
s1.isdisjoint(s2)

False

## LAB 6-11 곱집합 연산
### 1) 곱집합을 구하는 함수 구현

In [83]:
A = {1, 2}
B = {'A', 'B', 'C'}

def product_set(A, B):
    AxB = set()
    AxB = {(i, j) for i in A for j in B}
    return AxB
    
#1) AxB
product_set(A, B)

{(1, 'A'), (1, 'B'), (1, 'C'), (2, 'A'), (2, 'B'), (2, 'C')}

In [84]:
#2) BxA
product_set(B, A)

{('A', 1), ('A', 2), ('B', 1), ('B', 2), ('C', 1), ('C', 2)}

In [85]:
#3) AxA
product_set(A, A)

{(1, 1), (1, 2), (2, 1), (2, 2)}

In [87]:
#4) BxB
print(product_set(B, B), end = '')

{('A', 'C'), ('A', 'B'), ('B', 'A'), ('B', 'B'), ('C', 'C'), ('C', 'B'), ('C', 'A'), ('B', 'C'), ('A', 'A')}

## LAB 6-12 복수로 주사위를 던졌을 때 특정 값 이상을 얻을 확률 구하기

In [88]:
def tuple_sum(tup):
    if isinstance(tup, int):
        return tup
    else:
        accum = 0
        for element in tup:
            accum += tuple_sum(element)
    return accum

def product_set(set1, set2):
    res = set()
    for i in set1:
        for j in set2:
            res = res | {(i, j)}
    return res

def exp(input_set, exponent):
    res = input_set
    for _ in range(exponent-1):
        res = product_set(res, input_set)
    return res

### 1) 주사위를 세 번 던져 얻을 수 있는 경우의 수

In [92]:
dice = {1, 2, 3, 4, 5, 6}
dice_3times = exp(dice, 3)

print('주사위를 세 번 던져 발생할 수 있는 사건은 {} 가지 경우가 존재합니다.'.format(len(dice_3times)))

주사위를 세 번 던져 발생할 수 있는 사건은 216 가지 경우가 존재합니다.

### 2) 눈의 합이 10 이상인 경우의 수

In [94]:
n = 10
bigger_10 = tuple(dice_3times)

print('주사위를 세 번 던져 나온 눈의 합이 {} 이상인 경우는 {} 가지 입니다.'.format(n, len(bigger_10)))

주사위를 세 번 던져 나온 눈의 합이 10 이상인 경우는 216 가지 입니다.

In [95]:
n = 123
m = 334
l = 3
n.__add__(m)

457

In [97]:
t = (1, 2, 3, 4)
t.appendd(5)

AttributeError: 'tuple' object has no attribute 'append'

In [ ]:
dict()