In [1]:
lst = [1,2,3,4]
print(lst)

[1, 2, 3, 4]

In [2]:
lst[1] = 222

In [3]:
print(lst) # 리스트는 가변 객체

[1, 222, 3, 4]

In [6]:
tup = (1, 2, 3, 4)
print(tup)

(1, 2, 3, 4)

In [7]:
print(tup[1])

2

In [8]:
tup[1] = 222
print(tup) # 튜플은 불변 객체로 수정이 불가능

TypeError: 'tuple' object does not support item assignment

In [9]:
tup = (1, 222, 3, 4)
print(tup)

(1, 222, 3, 4)

In [10]:
lst = [1]
print(lst)

[1]

In [11]:
lst[0] = 222
print(lst)

[222]

In [12]:
tup = (1)
print(tup)

1

In [13]:
type(tup)

int

In [14]:
tup = (1,2)
print(tup)
print(type(tup))

(1, 2)
<class 'tuple'>

In [15]:
tup = (1, )
print(tup)
print(type(tup))

(1,)
<class 'tuple'>

In [16]:
# packing
c = (3, 4)
print(type(c))

<class 'tuple'>

In [20]:
# unpacking
d, e = c
print('d : {}, e : {}'.format(d, e))

d : 3, e : 4

In [21]:
print(type(d))

<class 'int'>

In [22]:
d, e = e, d # SWAP

In [24]:
print('d : {}, e : {}'.format(d, e))

d : 4, e : 3

In [25]:
the_day = (1919, 3, 1)
year, month, day = the_day
print('{}년 {}월 {}일은 삼일절입니다.'.format(year, month, day))

1919년 3월 1일은 삼일절입니다.

In [26]:
lst = [10, 20, 30]
tup = tuple(lst)
a, b, c = tup
# a, b, c = tuple(lst)
print('a = {}'.format(a))
print('b = {}'.format(b))
print('c = {}'.format(c))

a = 10
b = 20
c = 30

In [27]:
a, b, c = 'str'

In [28]:
print('a: {}, b: {}, c: {}'.format(a, b, c))

a: s, b: t, c: r

In [30]:
t_tuple = (10, 20, 30)
t_list = list(t)
t_list[2] = 300
t_tuple = tuple(t)
print(t_tuple) # 튜플의 원소를 변경하는 방법 (불변 객체)
# 원소가 매우 많은 경우에 유용하게 쓸 수 있음

(10, 20, 300)

In [31]:
t0 = (10, 20, 30)
t1 = t0 + t0 #반복
t1

(10, 20, 30, 10, 20, 30)

In [32]:
t2 = t0 * 2
t2

(10, 20, 30, 10, 20, 30)

In [33]:
t3 = t0 + 40 # 튜플과 정수의 덧셈 연산은 불가

TypeError: can only concatenate tuple (not "int") to tuple

In [35]:
t4 = t0 + (40, )
t4

(10, 20, 30, 40)

In [38]:
def area_and_circum(radius):
    area = 3.14 * radius ** 2
    circum = 2 * 3.14 * radius
    return area, circum

r = 4
a, c = area_and_circum(r) # 언패킹
print('반지름이 {}인 원의 면적과 둘레: {}, {}'.format(r, a, c))

반지름이 4인 원의 면적과 둘레: 50.24, 25.12

In [39]:
(10, 20, 30) + (40, 50, 60)

(10, 20, 30, 40, 50, 60)

In [41]:
print('Hello ' * 3)
print(('Hello ', ) * 3)

Hello Hello Hello
('Hello ', 'Hello ', 'Hello ')

In [1]:
args = 1, 2, 3
x, *y = args

In [3]:
x

1

In [4]:
y

[2, 3]

In [5]:
print(type(y))

<class 'list'>

In [6]:
set1 = {1, 2, 3, 4}

In [7]:
type(set1)

set

In [8]:
set0 = {}
print(type(set0))

<class 'dict'>

In [9]:
set2 = set()
print(type(set2))

<class 'set'>

In [10]:
t = 1, 2, 3, 4
type(t)

tuple

In [11]:
set3 = set(t)
print(type(set3))

<class 'set'>

In [12]:
lst = [1, 2, 3, 4]
set4 = set(lst)
print(type(set4)) # 다른 자료형을 집합으로 변형

<class 'set'>

In [13]:
set4[1] # 집합은 인덱스를 사용할 수 없음

TypeError: 'set' object is not subscriptable