In [9]:
a = [3, 1, 4, 3, 5]
b = []

for i in a:
    line = []
    for j in range(i):
        line.append(0)
    b.append(line)
print(b)

[[0, 0, 0], [0], [0, 0, 0, 0], [0, 0, 0], [0, 0, 0, 0, 0]]

In [11]:
a = [[0] * i for i in [3, 1, 4, 3, 5]]
a

[[0, 0, 0], [0], [0, 0, 0, 0], [0, 0, 0], [0, 0, 0, 0, 0]]

In [31]:
numbers = [6, 10, 2]
for number in numbers:
    prev = str(number)
    add = list(str(number))
    print(len(prev))

1
2
1

In [1]:
print('나의 이름은:', '홍길동')

나의 이름은: 홍길동

In [2]:
print('나의 나이는:', 27)

나의 나이는: 27

In [3]:
print('나의 키는', 179, 'cm 입니다.')

나의 키는 179 cm 입니다.

In [4]:
print('10 + 20 =', 10 +20)

10 + 20 = 30

In [5]:
print('10 * 20 =', 10 * 20)

10 * 20 = 200

In [1]:
height = 179
print('나의 키는', height, 'cm 입니다.')

나의 키는 179 cm 입니다.

In [1]:
2 ** 0.5

1.4142135623730951

In [2]:
3 ** 0.5

1.7320508075688772

In [3]:
I = [100, 300, 500, 900]
I

[100, 300, 500, 900]

In [4]:
d = {'apple': 3000, 'banana': 4000}

In [5]:
d

{'apple': 3000, 'banana': 4000}

In [6]:
t = ('홍길동', 30, '율도국의 왕')
t

('홍길동', 30, '율도국의 왕')

In [9]:
txt4 = 'Hello ' 'Python'
txt4

'Hello Python'

In [2]:
a = 8 + 2j
b = 4 + 3j

a / b

(1.52-0.64j)

In [3]:
name = input('이름을 입력하세요: ', )

이름을 입력하세요:  김유신

In [4]:
print(name, '님이 입장하셨습니다.')

김유신 님이 입장하셨습니다.

In [5]:
m = int(input('숫자 m을 입력하세요: '))

숫자 m을 입력하세요:  30

In [6]:
n = int(input('숫자 n을 입력하세요: '))

숫자 n을 입력하세요:  50

In [7]:
print('m + n =', m + n)

m + n = 80

In [9]:
print('m - n =', m - n)

m - n = -20

In [10]:
radius = int(input('원의 반지름을 입력하세요: '))

원의 반지름을 입력하세요:  3

In [12]:
print(3.14 * radius * radius)

28.259999999999998

In [15]:
n = int(input('정수 n의 값을 입력하세요:'))

정수 n의 값을 입력하세요: 75

In [14]:
if n % 2 == 0:
    print(n, '은(는) 짝수입니다.')

50 은(는) 짝수입니다.

In [22]:
x = int(input('정수 x를 입력하세요:'))

정수 x를 입력하세요: -10

In [23]:
print('x =', x)
if x > 0:
	print(x, '은(는) 자연수입니다.')

x = -10

In [30]:
adult_or_not = int(input('당신은 성인인가요(성인이면 1, 미성년이면 0):'))
if adult_or_not == 1:
    married_or_not = int(input('결혼을 하셨나요(기혼이면 1, 미혼이면 0):'))
    if married_or_not == 1:
        print('당신은 결혼한 성인입니다.')
    else: 
        print('당신은 결혼하지 않은 성인입니다.')

당신은 성인인가요(성인이면 1, 미성년이면 0): 1
결혼을 하셨나요(기혼이면 1, 미혼이면 0): 1

당신은 결혼한 성인입니다.

In [33]:
n = int(input('숫자 n을 입력하세요: '))

숫자 n을 입력하세요:  30

In [34]:
print('숫자 n:', n)

숫자 n: 30

In [40]:
num = 2
answer = (num > 1) and (num < 10)
print(answer)

True

In [41]:
for i in range(5):
    print(i)

0
1
2
3
4

In [42]:
list(range(1, 101, 1))

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100]

In [43]:
list(range(2, 101, 2))

[2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48,
 50,
 52,
 54,
 56,
 58,
 60,
 62,
 64,
 66,
 68,
 70,
 72,
 74,
 76,
 78,
 80,
 82,
 84,
 86,
 88,
 90,
 92,
 94,
 96,
 98,
 100]

In [44]:
list(range(1, 101, 2))

[1,
 3,
 5,
 7,
 9,
 11,
 13,
 15,
 17,
 19,
 21,
 23,
 25,
 27,
 29,
 31,
 33,
 35,
 37,
 39,
 41,
 43,
 45,
 47,
 49,
 51,
 53,
 55,
 57,
 59,
 61,
 63,
 65,
 67,
 69,
 71,
 73,
 75,
 77,
 79,
 81,
 83,
 85,
 87,
 89,
 91,
 93,
 95,
 97,
 99]

In [64]:
list(range(0, -100, -1))

[0,
 -1,
 -2,
 -3,
 -4,
 -5,
 -6,
 -7,
 -8,
 -9,
 -10,
 -11,
 -12,
 -13,
 -14,
 -15,
 -16,
 -17,
 -18,
 -19,
 -20,
 -21,
 -22,
 -23,
 -24,
 -25,
 -26,
 -27,
 -28,
 -29,
 -30,
 -31,
 -32,
 -33,
 -34,
 -35,
 -36,
 -37,
 -38,
 -39,
 -40,
 -41,
 -42,
 -43,
 -44,
 -45,
 -46,
 -47,
 -48,
 -49,
 -50,
 -51,
 -52,
 -53,
 -54,
 -55,
 -56,
 -57,
 -58,
 -59,
 -60,
 -61,
 -62,
 -63,
 -64,
 -65,
 -66,
 -67,
 -68,
 -69,
 -70,
 -71,
 -72,
 -73,
 -74,
 -75,
 -76,
 -77,
 -78,
 -79,
 -80,
 -81,
 -82,
 -83,
 -84,
 -85,
 -86,
 -87,
 -88,
 -89,
 -90,
 -91,
 -92,
 -93,
 -94,
 -95,
 -96,
 -97,
 -98,
 -99]

In [49]:
for i in range(5):
	print(i, end = '')

0,1,2,3,4,

In [50]:
s = 0
for i in range(1, 101):
    s += i
print('1에서 100까지의 합:', s)

1에서 100까지의 합: 5050

In [52]:
s = 0
for i in range(0, 101, 2):
    s += i
print('1부터 100까지의 정수 중 짝수의 합:', s)

1부터 100까지의 정수 중 짝수의 합: 2550

In [53]:
s = 0
for i in range(1, 100, 2):
    s += i
print('1부터 100까지의 정수 중 홀수의 합:', s)

1부터 100까지의 정수 중 홀수의 합: 2500

In [54]:
n = int(input('합계를 구할 수를 입력하세요:'))
s = 0
for i in range(0, n):
    s += i + 1

print('1부터 {}까지의 합은 {}입니다.'.format(n, s))

합계를 구할 수를 입력하세요: 100

1부터 100까지의 합은 5050입니다.

In [57]:
n = int(input('수를 입력하세요.:'))

fact = 1
for i in range(1, n+1):
    fact *= i

print('{}! = {}'.format(n, fact))

수를 입력하세요.: 50

50! = 30414093201713378043612608166064768844377641568960512000000000000

In [58]:
for ch in 'Hello':
    print(ch, end = ' ')

H e l l o

In [63]:
for i in range(2, 10):
    for j in range(1, 10):
        print('{}*{}={}'.format(i, j, i * j), end = " ")
    print()

2*1=2 2*2=4 2*3=6 2*4=8 2*5=10 2*6=12 2*7=14 2*8=16 2*9=18
3*1=3 3*2=6 3*3=9 3*4=12 3*5=15 3*6=18 3*7=21 3*8=24 3*9=27
4*1=4 4*2=8 4*3=12 4*4=16 4*5=20 4*6=24 4*7=28 4*8=32 4*9=36
5*1=5 5*2=10 5*3=15 5*4=20 5*5=25 5*6=30 5*7=35 5*8=40 5*9=45
6*1=6 6*2=12 6*3=18 6*4=24 6*5=30 6*6=36 6*7=42 6*8=48 6*9=54
7*1=7 7*2=14 7*3=21 7*4=28 7*5=35 7*6=42 7*7=49 7*8=56 7*9=63
8*1=8 8*2=16 8*3=24 8*4=32 8*5=40 8*6=48 8*7=56 8*8=64 8*9=72
9*1=9 9*2=18 9*3=27 9*4=36 9*5=45 9*6=54 9*7=63 9*8=72 9*9=81

In [76]:
n = 7
for i in range(n):
    str = ' '
    for j in range(n-i):
        str += ' '
    print(str + '#')

        #
       #
      #
     #
    #
   #
  #

In [79]:
>>> n = 7
>>> for i in range(n):
	print(' ' * (n- i) + '#')

       #
      #
     #
    #
   #
  #
 #